syntax: glob

*.pyc
*.py.*
*.apk
.git/*
.buildozer/*
android/bin/*
android/tmp/*
android/*.apk
*.sublime*
build
apk
mk
ENV*/*
ARM*/*
bin/*
__pycache__/
test.*
spick*.*
temp/*
test/*
ww*.json
*.sh
research_docu/
